<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhkj.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.yhkj.model.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR" />
    <result column="user_idCard" property="userIdcard" jdbcType="VARCHAR" />
    <result column="user_idCard_url" property="userIdcardUrl" jdbcType="VARCHAR" />
    <result column="user_level" property="userLevel" jdbcType="INTEGER" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="recommend_id" property="recommendId" jdbcType="BIGINT" />
    <result column="wx_id" property="wxId" jdbcType="VARCHAR" />
    <result column="qq_id" property="qqId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, real_name, nick_name, user_phone, user_password, user_email, user_avatar, 
    user_idCard, user_idCard_url, user_level, user_status, create_time, recommend_id, 
    wx_id, qq_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yhkj.model.User" >
    insert into t_user (user_id, real_name, nick_name, 
      user_phone, user_password, user_email, 
      user_avatar, user_idCard, user_idCard_url, 
      user_level, user_status, create_time, 
      recommend_id, wx_id, qq_id
      )
    values (#{userId,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userAvatar,jdbcType=VARCHAR}, #{userIdcard,jdbcType=VARCHAR}, #{userIdcardUrl,jdbcType=VARCHAR}, 
      #{userLevel,jdbcType=INTEGER}, #{userStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{recommendId,jdbcType=BIGINT}, #{wxId,jdbcType=VARCHAR}, #{qqId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yhkj.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userAvatar != null" >
        user_avatar,
      </if>
      <if test="userIdcard != null" >
        user_idCard,
      </if>
      <if test="userIdcardUrl != null" >
        user_idCard_url,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="userStatus != null" >
        user_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="recommendId != null" >
        recommend_id,
      </if>
      <if test="wxId != null" >
        wx_id,
      </if>
      <if test="qqId != null" >
        qq_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userIdcardUrl != null" >
        #{userIdcardUrl,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendId != null" >
        #{recommendId,jdbcType=BIGINT},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="qqId != null" >
        #{qqId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhkj.model.User" >
    update t_user
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAvatar != null" >
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        user_idCard = #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userIdcardUrl != null" >
        user_idCard_url = #{userIdcardUrl,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userStatus != null" >
        user_status = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recommendId != null" >
        recommend_id = #{recommendId,jdbcType=BIGINT},
      </if>
      <if test="wxId != null" >
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="qqId != null" >
        qq_id = #{qqId,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhkj.model.User" >
    update t_user
    set real_name = #{realName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_idCard = #{userIdcard,jdbcType=VARCHAR},
      user_idCard_url = #{userIdcardUrl,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      user_status = #{userStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      recommend_id = #{recommendId,jdbcType=BIGINT},
      wx_id = #{wxId,jdbcType=VARCHAR},
      qq_id = #{qqId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>